*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

// size logo
$logoWidth: 40px;
$logoHeight: 40px;

// color
$primary-color: #00acdc;
$secondary-color: #060B35;
$grey-color: #616070;
$white-color: #fff;
$black-color: #000;

// container
$container-lg: 1200px;
